<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.88.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net452" />
  <package id="GraphSharp" version="1.1.0.0" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net452" />
  <package id="mzLib" version="1.0.195" targetFramework="net452" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net452" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net452" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net452" />
</packages>